body{
  background-color: rgb(205, 214, 205);
}
.App {
  text-align: center;
}

video {
  object-fit: cover;
  width: 100vw;
  height: 80vh;
  position: relative;
  top: 0;
  left: 0;
  z-index: -1;
}
.quotesContainer{
  display: flex;
  justify-content: center;
  margin: 50px
}